/* GENERAL */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-stack;
  background-color: $bod;
  background-image: url('../img/body-top.jpg'),url('../img/body-bottm.jpg');
  background-position: top center, bottom center;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
}
p{
  margin: 0;
}
