@mixin list {
  padding: 0;
  margin: 0;
  list-style: none;
}
@mixin text {
  text-decoration: none;
}
@mixin flex-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flow {
  flex-flow: row wrap;
}
@mixin respon ($size) {
  @media screen and (max-width:$size) {
    @content;
  }
}
@mixin regular($size,$height,$fcolor) {
  font-size: $size;
  line-height: $height;
  color: $fcolor;
  font-family: "Mazzard Soft H";
  font-weight: 400;  
}
@mixin align {
  display: flex;
  align-items: center;
}
@mixin geret ($size,$height,$fcolor){
  font-size: $size;
  font-family: "Greatest Richmond";
  color: $fcolor;
  font-weight: 400;
  line-height:$height;
}
@mixin num {
  position: relative;
  &::before{
    content: "0";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    font-weight: 400;
    color: $white;
    background-color: #E0BF96;
    top: -4px;
    right: -1px;
    display: flex;
    align-items: center;
    justify-content: center;

  } 
}
@mixin img-hover {
  position: relative;
  &::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    background-color: rgba(0,0,0,.1);
    transition: all 0.4s ease-out 0s;
  
  }
  &::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,.1);
    transition: all 0.4s ease-out 0s;  
  }
  &:hover{
    &::before{
      width: 100%;
      height: 100%;
    }
    &::after{
      width: 100%;
      height: 100%;
    }
  }
}
@mixin nav-hover {
  position: absolute;
	background-color: $white;
	padding: 20px;
	top: 51px;
  left: 0;
	opacity: 0;
	z-index: -2;
	transition: .3s ease;
	box-shadow: 0 0 5px 0 rgba(0, 0 ,0 ,0.24%); 
}

@mixin wrap {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  background-color: $white;
}
@mixin arrow2 {
  font-size: 15px;
  color: $cardC;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: all 0.3s; 
  display: inline-block;
  margin-right: 5px;
  &:hover{
    color: $hoverC;
    &::after{
      background-color: $hoverC;
      width: 93%;
    }
  }
}
@mixin arrow {
  font-size: 12px;
  color: $cardC;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  transition: all 0.3s; 
  display: inline-block;
  
  &:hover{
    color: $hoverC;
    &::after{
      background-color: $hoverC;
      width: 93%;
    }
  }
  &::after{
    content: '';
    height: 1px;
    width: 100%;
    background-color: $cardC;
    display: block;
    transition: all 0.3s;  
  }
}
@mixin arrow-how {
  color: $hoverC;
  margin-left: 5px;
}
@mixin arrow-icn {
  font-size: 9px;
  position: relative;
  transition: .3s ease;
  vertical-align: text-bottom;
}
@mixin arrow-how2 {
  color: $hoverC;
  margin-left: 10px;
}
@mixin arrow-icn2 {
  font-size: 9px;
  position: relative;
  transition: .3s ease;
  margin-left: 5px;
  vertical-align: text-bottom;
}
@mixin title {
  font-size: 30px;
  color: $boldC;
  font-weight: 400;
  letter-spacing: -.75px;
  display: flex; 
  align-items: center;
  margin-bottom: 30px;
  &::before{
    content: "";
    width: 13px;
    height: 13px;
    display: block;
    border-radius: 50%;
    border: 2px solid $hoverC;
    margin-right: 10px;
  }
  
}
@mixin hover-text {
  transition: all .3s ease;
  &:hover{
    color: $hoverC;
  }
}
