// COLORS
$color-primary: #333333;
$white:#fff;
$hoverC:#bac34e;
$cardC:#000;
$boldC:#0a472e;
$regular:#555;
$ebeb:#ebebeb;
$e2e2:#e2e2e2;
$aaa:#aaa;
$e5e5:#e5e5e5;
$c4c:#4C68A2;
$f428:#4285f4;
$f53d:#53d1f8;
$f4f4:#f4f4f4;
$e4e4:#e4e4e4;
$r8r8:#878787;
$o41:#414141;
$bod:#FBF4EA;

// Container
$width-container: 1320px;
$p-container: 15px;

// FONTS
$font-stack: "Mazzard Soft H";
